body {
  background:#d8fda9;
  font:15px/20px 'Helvetica Neue', sans-serif;
}

#header {
  background:#222;
  color:#eee;
  position:absolute;
  top:0;
  right:0;
  left:0;
  height:40px;
}

#header a {
  position:absolute;
  right:20px;
  top:10px;
  color:#d8fda9;
}

#header h1 {
  font-size:20px;
  padding:10px;
}

#map {
  position:absolute;
  top:40px;
  left:0;
  right:0;
  bottom:0;
}

#sidebar {
  position:absolute;
  top:40px;
  width:400px;
  bottom:0;
  opacity:0.9;
  background:#222;
  color:#eee;
}

h3 {
  padding:10px;
}

pre {
  font: monospace;
  padding:5px 10px;
  color:#d8fda9;
  background:#444;
}

a {
  color:#d8fda9;
}

a:hover {
  color:#26aeaf;
}

em {
  color:#d8fda9;
}

h4 {
  background:#444444;
  padding:10px;
  font:25px/40px 'Helvetica Neue', sans-serif;
  margin-top:20px;
  text-align:center;
}

small {
  display:block;
  text-align:center;
}

#sidebar p {
  padding:5px 10px;
  font:14px/25px 'Georgia' serif;
  color:#eee;
}

.wax-tooltip {
  background:#f7ffee;
  position:absolute;
  bottom:0;
  padding:10px;
  left:300px;
}

#swatch {
  position:absolute;
  bottom:10px;
  right:10px;
  z-index:100;
}

#swatch a {
  padding:5px;
  border:2px solid #fff;
  text-decoration:none;
}

#swatch a:hover {
  border:2px solid #111;
}

#red {
  color:white;
  background:red;
}
#green {
  color:black;
  background:#d8fda9;
}
#blue {
  color:white;
  background:#26aeaf;
}

.apis {
  color:#fff;
  padding:10px;
}

.apis a {
  font:15/20px 'Helvetica Neue', sans-serif;
  background:#7DC74C;
  border-radius:2px;
  text-decoration:none;
  color:#000;
  padding:10px;
}
